{% extends 'base.html.twig' %}
{% block title %}TinyStore - {{ category.name }}{% endblock %}
{% block body %}

    <div class="container-fluid">
        <h2 class="mt-4">Category "{{ category.name }}"</h2>
        <div class="row">
            <div class="col d-flex flex-wrap">
                {% for good in goods %}
                    <div class="card mt-4" style="width: 18rem; margin-right: 20px">
                        <div class="card-body">
                            <h4 class="card-title"><a href="{{ path('good_page', {id: good.id}) }}">{{ good.name }}</a></h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ good.category.name }}</h6>
                            <p class="card-text">{{ good.description }}</p>
                            <p class="card-text">{{ good.image }}</p>
                            <span class="badge bg-primary" style="font-size: 1.25rem">{{ good.price/100 }} UAH</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
